{{^reactive}}
String endpoint = ((Api)({{classname}}.class).getAnnotation(Api.class)).value();

        {{classname}}Service service = getService();
        service.setEndpoint(endpoint);
        return service.{{operationId}}(getRequest().get(){{#bodyParams}}, {{paramName}}{{/bodyParams}});
{{/reactive}}
{{#reactive}}
exchange.getResponse().setStatusCode(HttpStatus.NOT_IMPLEMENTED);
        Mono<Void> result = Mono.empty();
    {{#examples}}
        {{#-first}}
        for (MediaType mediaType : exchange.getRequest().getHeaders().getAccept()) {
        {{/-first}}
            if (mediaType.isCompatibleWith(MediaType.valueOf("{{{contentType}}}"))) {
                result = ApiUtil.getExampleResponse(exchange, "{{#lambdaRemoveLineBreak}}{{#lambdaEscapeDoubleQuote}}{{{example}}}{{/lambdaEscapeDoubleQuote}}{{/lambdaRemoveLineBreak}}");
                break;
            }
        {{#-last}}
        }
        {{/-last}}
    {{/examples}}
        return result.then(Mono.empty());
{{/reactive}}
